* {
  padding : 0;
  margin : 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("../background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Righteous', cursive;
  header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 51, 0);
    text-shadow: 1px 1px 2px #eeff00, 0 0 25px #ffe600, 0 0 5px #ffae00;
    padding: 40px;
    .game-name {
      display: flex;
      text-align: center;
      font-size: 30px;
      justify-content: center;
      align-items: center;
      z-index: 3;
    }
    img {
      padding-top: 45px;
      font-size: 80px;
      position:absolute;
      transform: translate(-10px , 0);
    }
  }
  main{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    .holes {
      display: flex;
      padding-top: 90px;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      &__row__1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        width: 70%;
        text-align: center;
        margin-bottom: 20px;
        &__area{
          width: 80%;
          img {
            width: 100%;
          }
          div {
            background-color: brown;
            border:1px solid black;
            height: 10px;
            width: 100%;
            border-radius: 50%;
          }
        }
      }
      &__row__2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 13px;
        width: 80%;
        margin-bottom: 25px;
        &__area{
          width: 80%;
          img {
            width: 100%;
          }
          div {
            background-color: brown;
            border:1px solid black;
            height: 10px;
            width: 100%;
            border-radius: 50%;
          }
        }
      }
      &__row__3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
        width: 95%;
        &__area{
          width: 80%;
          display: flex;
          flex-direction: column;
          img {
            width: 100%;
          }
          div {
            background-color: brown;
            border:1px solid black;
            height: 10px;
            width: 100%;
            border-radius: 50%;
          }
        }
      }
    }
    .score{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin:23px 0 50px 0;
      text-align: center;
      color: rgb(255, 51, 0);
      text-shadow: 1px 1px 2px #eeff00, 0 0 25px #ffe600, 0 0 5px #ffae00;
      padding: 10px;
      &__sign{
        margin:10px 0 20px 0;
        width: 60%;
        position: absolute;
        transform: translate(-5px, 4px);
      }
      &__display {
        z-index: 2;
      }
    }
    .start{
      &__button {
        font-size: 20px;
        color: rgb(251, 255, 0);
        background-color: rgb(236, 165, 113);
        text-shadow: 1px 1px 10px #ff0000, 0 0 100px #ff1100, 0 0 20px #ffae00;
        border:1px solid yellow;
        padding: 10px;
        border-radius: 25%;
      }
    }
  }
}


/* 
on click styling
*/
