* {
  padding : 0;
  margin : 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("../background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Righteous', cursive;
  header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 51, 0);
    text-shadow: 1px 1px 2px #eeff00, 0 0 25px #ffe600, 0 0 5px #ffae00;
    padding: 40px;
    max-width: 500px;
    .game-name {
      display: flex;
      text-align: center;
      font-size: 30px;
      justify-content: center;
      align-items: center;
      z-index: 3;
    }
    img {
      padding-top: 45px;
      font-size: 80px;
      position:absolute;
      transform: translate(-10px , 0);
      max-width: 460px;
    }
  }
  main{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    .holes {
      display: flex;
      // padding-top: 90px;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      &__row__1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        width: 70%;
        text-align: center;
        margin-bottom: 20px;
        &__area{
          width: 100%;
          .mole {
            width: 100%;
            visibility: hidden;
          }
          .active {
            visibility: visible;
          }
          @keyframes fadeUp {
            0% {
                transform: translate(0px, 25px);
            }         
            50% {
                transform: translate(0px, 10px);
            }         
            100% {
                transform: translate(0px, 0px);
            }
          }
          .active {
            animation: fadeUp 100ms;
          }
          div {
            background-color: brown;
            border:1px solid black;
            height: 10px;
            width: 100%;
            border-radius: 50%;
          }
        }
      }
      &__row__2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        width: 80%;
        margin-bottom: 25px;
        &__area {
          width: 100%;
          .mole {
            width: 100%;
            visibility: hidden;
          }
          .active {
            visibility: visible;
          }
          @keyframes fadeUp {
            0% {
                transform: translate(0px, 25px);
            }         
            50% {
                transform: translate(0px, 10px);
            }         
            100% {
                transform: translate(0px, 0px);
            }
          }
          .active {
            animation: fadeUp 100ms;
          }
          div {
            background-color: brown;
            border:1px solid black;
            height: 10px;
            width: 100%;
            border-radius: 50%;
          }
        }
      }
      &__row__3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        width: 95%;
        &__area{
          width: 100%;
          display: flex;
          flex-direction: column;
          .mole {
            width: 100%;
            visibility: hidden;
          }
          .active {
            visibility: visible;
          }
          @keyframes fadeUp {
            0% {
                transform: translate(0px, 25px);
            }         
            50% {
                transform: translate(0px, 10px);
            }         
            100% {
                transform: translate(0px, 0px);
            }
          }
          .active {
            animation: fadeUp 100ms;
          }
          div {
            background-color: brown;
            border:1px solid black;
            height: 10px;
            width: 100%;
            border-radius: 50%;
          }
        }
      }
    }
    .score{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: rgb(255, 51, 0);
      text-shadow: 1px 1px 2px #eeff00, 0 0 25px #ffe600, 0 0 5px #ffae00;
      padding: 10px;
      &__sign{
        width: 60%;
        transform: translate(-5px, 0);
      }
      &__display {
        position: absolute;
        transform: translate(0, -15px);
        z-index: 2;
      }
    }
    .start{
      margin-bottom: 10px;
      .active {
        color: rgb(251, 255, 0);
        background-color: rgb(231, 133, 62);
        text-shadow: 1px 1px 10px #ff0000, 0 0 100px #ff1100, 0 0 20px #ffae00;
        border:1px solid yellow;
      }
      @keyframes glowing {
        0% {
          box-shadow: 0 0 5px #ff0000;
        }
        50% {
          box-shadow: 0 0 20px #ff0000;
        }
        100% {
          box-shadow: 0 0 5px #ff0000;
        }
    }
    .active {
      animation: glowing 1300ms infinite;
    }
    &__button{
      font-size: 22px;
      padding: 5px 10px;
      border-radius: 25%;
      font-family: 'Righteous', cursive;
      color: black;
      background-color: rgb(155, 154, 154);
      text-shadow: 1px 1px 10px black, 0 0 100px grey, 0 0 20px grey;
      border:1px solid black;
    }
  }
  .gameover-display {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width:100vw;
    height: 100vh;
    visibility: hidden;
    background-color: rgba(165, 42, 42, 0.952);
    color: rgb(251, 255, 0);
    text-shadow: 1px 1px 10px #ff0000, 0 0 100px #ff1100, 0 0 20px #ffae00;
    z-index: 99;
  }
  .display-active {
    visibility: visible;
  }
}
}