* {
  padding : 0;
  margin : 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Righteous', cursive;
  header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 51, 0);
    text-shadow: 1px 1px 2px #eeff00, 0 0 25px #ffe600, 0 0 5px #ffae00;
    padding: 40px;
    max-width: 500px;
    .game-name {
      display: flex;
      text-align: center;
      font-size: 30px;
      justify-content: center;
      align-items: center;
      z-index: 3;
    }
    img {
      padding-top: 45px;
      font-size: 80px;
      position:absolute;
      transform: translate(-10px , 0);
      max-width: 460px;
      z-index: 2;
    }
  }
  main{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    z-index: 3;
    .holes {
      display: flex;
      // padding-top: 90px;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      &__row__1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        width: 70%;
        text-align: center;
        margin-bottom: 20px;
        &__area{
          width: 100%;
          .mole {
            width: 100%;
            visibility: hidden;
          }
          .active {
            visibility: visible;
          }
          .bomb {
            position: absolute;
            width: 20%;
            max-width: 100px;
            visibility: hidden;
            transform: translate(12px , -20px);
          }
          .bomb-active {
            visibility: visible;
            animation: fadeUpBomb 100ms;
          }
          .explosion {
            position: absolute;
            width: 25%;
            max-width: 100px;
            visibility: hidden;
            transform: translate(-5px , -20px);
          }
          .explosion-active {
            visibility: visible;
          }
          @keyframes fadeUp {
            0% {
                transform: translate(0px, 25px);
            }         
            50% {
                transform: translate(0px, 10px);
            }         
            100% {
                transform: translate(0px, 0px);
            }
          }
          @keyframes fadeUpBomb {
            0% {
                transform: translate(12px, 25px);
            }         
            50% {
                transform: translate(12px, 10px);
            }         
            100% {
                transform: translate(12px, 0px);
            }
          }
          .active {
            animation: fadeUp 100ms;
          }
          div {
            background-color: brown;
            border:1px solid black;
            height: 10px;
            width: 100%;
            border-radius: 50%;
          }
        }
      }
      &__row__2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        width: 80%;
        margin-bottom: 25px;
        &__area {
          width: 100%;
          .mole {
            width: 100%;
            visibility: hidden;
          }
          .active {
            visibility: visible;
          }
          .bomb {
            position: absolute;
            width: 22.5%;
            max-width: 120px;
            visibility: hidden;
            transform: translate(12px , -20px);
          }
          .bomb-active {
            visibility: visible;
            animation: fadeUpBomb 100ms;
          }
          .explosion {
            position: absolute;
            width: 27.5%;
            max-width: 120px;
            visibility: hidden;
            transform: translate(-5px , -20px);
          }
          .explosion-active {
            visibility: visible;
          }
          @keyframes fadeUp {
            0% {
                transform: translate(0px, 25px);
            }         
            50% {
                transform: translate(0px, 10px);
            }         
            100% {
                transform: translate(0px, 0px);
            }
          }
          @keyframes fadeUpBomb {
            0% {
                transform: translate(12px, 25px);
            }         
            50% {
                transform: translate(12px, 10px);
            }         
            100% {
                transform: translate(12px, 0px);
            }
          }
          .active {
            animation: fadeUp 100ms;
          }
          div {
            background-color: brown;
            border:1px solid black;
            height: 10px;
            width: 100%;
            border-radius: 50%;
          }
        }
      }
      &__row__3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        width: 95%;
        &__area{
          width: 100%;
          display: flex;
          flex-direction: column;
          .mole {
            width: 100%;
            visibility: hidden;
          }
          .active {
            visibility: visible;
          }
          .bomb {
            position: absolute;
            width: 25%;
            max-width: 140px;
            visibility: hidden;
            transform: translate(12px , -20px);
          }
          .bomb-active {
            visibility: visible;
            animation: fadeUpBomb 100ms;
          }
          .explosion {
            position: absolute;
            width: 30%;
            max-width: 140px;
            visibility: hidden;
            transform: translate(-5px , -20px);
          }
          .explosion-active {
            visibility: visible;
          }
          @keyframes fadeUp {
            0% {
                transform: translate(0px, 25px);
            }         
            50% {
                transform: translate(0px, 10px);
            }         
            100% {
                transform: translate(0px, 0px);
            }
          }
          @keyframes fadeUpBomb {
            0% {
                transform: translate(12px, 25px);
            }         
            50% {
                transform: translate(12px, 10px);
            }         
            100% {
                transform: translate(12px, 0px);
            }
          }
          .active {
            animation: fadeUp 100ms;
          }
          div {
            background-color: brown;
            border:1px solid black;
            height: 10px;
            width: 100%;
            border-radius: 50%;
          }
        }
      }
    }
    .score{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: rgb(255, 51, 0);
      text-shadow: 1px 1px 2px #eeff00, 0 0 25px #ffe600, 0 0 5px #ffae00;
      padding: 10px;
      &__sign{
        width: 60%;
        transform: translate(-5px, 0);
      }
      &__display {
        position: absolute;
        transform: translate(0, -15px);
        z-index: 2;
        &__result {
          font-size: 20px;
        }
      }
    }
    .start{
      margin-bottom: 10px;
      .active {
        color: rgb(251, 255, 0);
        background-color: rgb(231, 133, 62);
        text-shadow: 1px 1px 10px #ff0000, 0 0 100px #ff1100, 0 0 20px #ffae00;
        border:1px solid yellow;
      }
      @keyframes glowing {
        0% {
          box-shadow: 0 0 5px #ff0000;
        }
        50% {
          box-shadow: 0 0 20px #ff0000;
        }
        100% {
          box-shadow: 0 0 5px #ff0000;
        }
    }
    .active {
      animation: glowing 1300ms infinite;
    }
    &__button{
      font-size: 22px;
      padding: 5px 10px;
      border-radius: 25%;
      font-family: 'Righteous', cursive;
      color: black;
      background-color: rgb(155, 154, 154);
      text-shadow: 1px 1px 10px black, 0 0 100px grey, 0 0 20px grey;
      border:1px solid black;
    }
  }
  .gameover-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width:100vw;
    height: 100vh;
    visibility: hidden;
    background-color: rgba(165, 42, 42, 0.952);
    font-size: 30px;
    color: rgb(251, 255, 0);
    text-shadow: 1px 1px 10px #ff0000, 0 0 100px #ff1100, 0 0 20px #ffae00;
    z-index: 99;
    &__your-score {
      padding-top: 3px;
    }
    &__score {
      font-size: 50px;
      animation: pulseEnlarge 1300ms infinite;
    }
    @keyframes pulseEnlarge {
      0% {
        transform: scale(1 , 1);
      }
      25% {
        transform: scale(1.1 , 1.1);
      }
      50% {
        transform: scale(1.2 , 1.2);
      }
      75% {
        transform: scale(1.1 , 1.1);
      }
      100% {
        transform: scale(1 , 1);
      }
    }
    &__highscores {
      padding: 15px 0 5px 0;
      font-size: 25px;
    }
    &__highscore-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 80%;
      text-align: center;
    }
    &__player {
      padding-top: 15px;
      display: grid;
      grid-template-columns: 1fr 1fr 0.8fr;
      gap: 10px;
      width: 80%;
      &__input {
        background-color: rgba(165, 42, 42, 0.952);
        border-radius: 10px;
        border: 1px solid yellow;
        font-size: 20px;
        font-family: 'Righteous', cursive;
        color: rgb(251, 255, 0);
        text-shadow: 1px 1px 10px #ff0000, 0 0 100px #ff1100, 0 0 20px #ffae00;
        width: 100%;
        text-align: center;
      }
      &__submit {
        font-family: 'Righteous', cursive;
        color: rgb(251, 255, 0);
        text-shadow: 1px 1px 10px #ff0000, 0 0 100px #ff1100, 0 0 20px #ffae00;
        background-color: rgb(231, 133, 62);
        border:1px solid yellow;
        border-radius: 10px;
        box-shadow: 0 0 20px #ff0000;
        font-size: 20px;
        text-transform: uppercase;
      }
    }
    &__retry-button {
      margin-top: 25px;
      padding: 10px;
      font-family: 'Righteous', cursive;
      color: rgb(251, 255, 0);
      background-color: rgb(231, 133, 62);
      text-shadow: 1px 1px 10px #ff0000, 0 0 100px #ff1100, 0 0 20px #ffae00;
      border:1px solid yellow;
      border-radius: 10px;
      font-size: 22px;
      box-shadow: 0 0 20px #ff0000;
    }
  }
    .display-active {
      visibility: visible;
    }
}
}

@media only screen and (max-width: 360px){
  body {
    header {
      .game-name {
        font-size: 26px;
        transform: translate(0 , 5px);
      }
    }
    main {
      .score {
        h1 {
          font-size: 20px;
          padding-bottom: 5px;
          transform: translate(0 , 8px);
        }
      }
    }
  }
}

@media only screen and (max-width: 300px){
  body {
    header {
      .game-name {
        font-size: 22px;
        transform: translate(0 , 4px);
      }
    }
    main {
      .score {
        h1 {
          font-size: 18px;
          padding-bottom: 5px;
          transform: translate(0 , 10px);
        }
      }
    }
  }
}

@media only screen and (min-width: 650px){
  body {
    header {
      .game-name {
        font-size: 38px;
        transform: translate(0 , -8px);
      }
    }
    main {
      .score {
        h1 {
          font-size: 32px;
          padding-bottom: 5px;
          transform: translate(0 , 5px);
        }
        &__display__result {
          font-size: 27px;
          transform: translate(0 , -5px);
        }
      }
      .start{
        &__button {
          font-size: 32px;
        }
      }
      .gameover-display {
        .gameover-display__highscore-list {
          max-width: 450px;
        }
        .gameover-display__player {
          max-width: 360px;
        }
      }
    }
  }
}
